#carouselRekomenKuliner{
    background-image: url(../assets/bgrekomen2.svg);
    background-size: cover;
}
#carouselRekomenKuliner img{
    height: 440px;
}
#bgKulinerCianjur{
    background-image: url(../assets/bgkulinercianjur.svg);
    background-size: cover;
}
.kuliner-card img{
    height: 222px;
}
#slider-lainnya-kuliner{
    color: #fff;
}
#slider-lainnya-kuliner:hover{
    color: #19376D;
    transition: .3s;
}

/* Responsive */
@media screen and (max-width:1399px) {
    
}
@media screen and (max-width:1199px) {
    .card-text{
        font-size: 0.9rem;
    }
    .kuliner-card img{
        height: 205px;
    }
}
@media screen and (max-width:1023px) {
    
}
@media screen and (max-width:991px) {
    #carouselRekomenKuliner img{
        height: 300px;
    }
    .kuliner-card img{
        height: 190px;
    }
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
    #carouselRekomenKuliner img{
        height: 200px;
    }
    .img-kuliner-outline{
        height: 300px;
    }
    .card-text{
        font-size: 1.1rem;
    }
    .kuliner-card img{
        height: 222px;
    }
}
@media screen and (max-width: 424px) {
    
}
@media screen and (max-width: 374px) {
    #carouselRekomenKuliner img{
        height: 190px;
    }
    .img-kuliner-outline{
        height: 280px;
    }
    .card-text{
        font-size: 0.9rem;
    }
}