.travel-card, .event-card{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
}
.travel-card img, .event-card img{
    height: 320px;
}

/* Responsive */
@media screen and (max-width:1399px) {
    
}
@media screen and (max-width:1199px) {
    .travel-card img, .event-card img{
        height: 280px;
    }
}
@media screen and (max-width:1023px) {
    
}
@media screen and (max-width:991px) {
    .travel-card img, .event-card img{
        height: 220px;
    }
}
@media screen and (max-width: 767px) {
    .travel-card img, .event-card img{
        height: 150px;
    }
}
@media screen and (max-width: 575px) {
        .travel-card img, .event-card img{
            height: 280px;
        }
}
@media screen and (max-width: 424px) {
    .travel-card img, .event-card img{
        height: 250px;
    }
}
@media screen and (max-width: 374px) {
    .travel-card img, .event-card img{
        height: 220px;
    }
}